* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.calculator-popup {
  background-color: #ffffff; 
  border-radius: 15px;
  padding: 30px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1, p, label {
  color: #941827;
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

label {
  margin-right: 5px;
  font-size: 1.5rem;
  vertical-align: middle;
}

input {
  border: 2px solid #941827;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 5px;
  width: 100px;
  text-align: center;
  background-color: #ffffff;
  color: #941827;
  vertical-align: middle;
  margin-bottom: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; 
}

input:disabled {
  background-color: #ddd;
  color: #777;
  cursor: not-allowed;
}

#resetButton {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #941827;
  color: white;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#resetButton:hover {
    background: #b82033; 
}

.steps > div {
  margin-bottom: 10px; 
  line-height: 1.4; 
  color: #333; 
}

#ai-response {
    min-height: 40px; 
    font-style: italic;
}

#ai-response > div {
    color: #333;
}
